.titre{
    height: 150px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.encadrement_container{
    margin: 50px;
}

.encadrant{
    height: 300px;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}

.image{
    height: 100%;
    width: 30%;
}
.intoduction img{
    width: auto;
    max-height: 90%;
    border-radius: 20px;
}

.intoduction .text{
    margin-top: 50px;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.encadrement_container h2{
    font-size: 2em;
    font-weight: bolder;
    height: 25%;
}

.encadrement_container h3{
    font-size: 1.5em;
    height:15%;

}

.encadrant p{
    height:60%;
    
}