.titre-form{
    height: 150px;
    display:flex;
    align-items: center;
    justify-content: center;
}
/*css annimation*/

#espace_membre_abonnement
{
    background-color:#111A2F;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.titre-offres {
    padding: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-formule{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    flex-wrap: wrap;
    z-index: 1;
}

.container-formule .card-form{
    position: relative;
    width: 400px;
    height: 600px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background:#ffda1fb2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(255, 250, 229, 0.5);
    border-left: 1px solid rgba(255, 250, 229, 0.5);
   color: white;
}



.container-formule .card-form .titre-formule{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: unset;
    height: 15%;
    width:100%;
}
.titre-formule h2{
    font-size:2em;
}


.card svg{
    height: 10%;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.container-formule .card-form .prix_par_mois{
    font-size: 2em;
    margin-right: 40%;
}

.liste_contenu_plan li{
    list-style: none;
    margin-bottom: 5%;
    display: flex;
    
}

.liste_contenu_plan li img{
    height: 12%;
    width:12%;
}

.liste_contenu_plan li p{
    margin-left: 5%;
    font-size: 1.5em;
}

.container-formule .card-form .content
{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container-formule .card-form:hover .content
{
    transform: translateY(0px);
    opacity: 1;
}


.boite-bouton-valider{
    height:3em;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.bouton_valider{
    align-items: center ;
    border: 1px solid white;
    height:100%;
    width: 50%;
    cursor: pointer;
    border-radius: 30px;
    background-color: white;
    color: #111A2F;
    padding: auto;
    
    outline: none;
}

.bouton_valider:hover{
    background-color:#111A2F;
    color:white;

}

.bouton_valider:focus{
    outline:none;
}



/*********************************************/

@media screen and (max-width: 450px){
    .titre-formule h2{
        font-size: 1.6em;
    }
    .liste_contenu_plan li p{

        font-size: 1.2em;
    }
    .container-formule .card-form:nth-child(3) {
        height: 500px;
    }
.container-formule .card-form .titre-formule{

    height: 8%;
}

.container-formule .card-form{
    height: 400px;
}
}
@media screen and (max-width: 780px){
    .container-formule .card-form{
        margin: 10px;
    }

}
    