.titre-inf{
    margin-bottom: 100px;
    height: 150px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.infrastructures-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    position: relative;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.finger{
    position: absolute;
    top: 10px;
    right: 10px;
}

.card:nth-child(1){
    background:url(../image/INFRASTRUCURE_DOJO.jpg) center no-repeat;
    background-size: cover;
}

.card:nth-child(2){
    background:url(../image/dehors.jfif) center no-repeat;
    background-size: cover;
}


.card:nth-child(3){
    background:url(../image/INFRASTRUCTURE_Muscu.jpg) center no-repeat;
    background-size: cover;
}

.card:nth-child(4){
    background:url(../image/parking.jfif) center no-repeat;
    background-size: cover;
}

.card img{
    width: 500px;
    height: 100px;
    object-fit: scale-down;
}
.card .content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    visibility: hidden;
}

.content h2{
    margin-bottom: 40px;
    font-size: 2rem;
    text-transform: uppercase;
}

.content a{
    color: #384284;
    margin-top: 40px;
    background-color: #FFD81F;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.mask{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    visibility: hidden;
}

.content p{
    width: 80%;
    text-align: center;
}

.card:hover .mask{
    visibility: visible;
}

.card:hover .content{
    visibility: visible;
}

.card:hover .finger{
    visibility: hidden;
}

@media screen and (max-width: 768px){
    .card{
        height: 300px;
    }

    .card:hover .mask{
        visibility: visible;
    }
    
    .card:hover .content{
        visibility: visible;
    }
    
    .card:hover .finger{
        visibility: hidden;
    }
}