.rest{
  overflow-x: hidden; 
}
.news{
  background-color: #FFD81F;
  color: #384284;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.news .grand p {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.news .petit p {
  font-size: 20px;
  text-align: center;
  
}
.container-image{
  position: relative;
  width: 100%;
  height: 100%;
  
  opacity: 1;
  z-index: 1;
  overflow: hidden;
  background-color: black;
}

.photo-container{
  width: 100vw;
  height: 79.5vh;
}

.img1{
  /*background:url(../../image/JUDO_accueil-min.avif) center no-repeat;
  background:url(../../image/JUDO_accueil-min.png) center no-repeat;*/
  background:url(../../image/JUDO_accueil-min.webp) center no-repeat;
  background-size: cover;
}

.img2{
  /*background:url(../../image/BABY-GYM_accueil-min.avif) center no-repeat;
  background:url(../../image/BABY-GYM_accueil-min.png) center no-repeat;*/
  background:url(../../image/BABY-JUDO_accueil.jpg) center no-repeat;
  background-size: cover;
}
.img3{
  /*background:url(../../image/JUDO-MUSCULATION_accueil-min.avif) center no-repeat;
  background:url(../../image/JUDO-MUSCULATION_accueil-min.png) center no-repeat;*/
  background:url(../../image/JUDO-MUSCULATION_accueil-min.webp) center no-repeat;
  background-size: cover;
}

.active{
  color: red;
}

.contenue_afficher{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contenue_cacher{
  display: none;
}

.contenue_afficher{
  display: unset;
}

.valeurs-texte{
  width: 440px;
  padding: 20px;
  text-align: center;
  background-color: #384284af;
  border-radius: 20px;
  
}

.contenue_afficher h2{
  white-space: normal;
  font-size: 3em;
  color: white;
  margin-bottom: 25px;
}

.contenue_afficher p{
  color: white;
}

.btn-link{
  text-decoration: none;
  color: #384284;
  text-transform: uppercase;
  font-weight: bold;
}

.button-container{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background-color: #FFD81F;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-wrapper {
  font-size: 0;
  position: absolute;
  top:80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index:2;
}

@keyframes pagination-container--animation-prev {
  0% { transform: translateX(0); }
  100% { transform: translateX(18px); }
}

@keyframes pagination-container--animation-next {
  0% { transform: translateX(0); }
  100% { transform: translateX(-18px); }
}

.transition-prev .pagination-container {
  animation: pagination-container--animation-prev 0.3s forwards;
}

.transition-next .pagination-container {
  animation: pagination-container--animation-next 0.3s forwards;
}

.little-dot {
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
  position: relative;
  z-index: 10;
}

.little-dot--first,
.little-dot--last {
  z-index: 5;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-18px);
  }
}

.transition-prev .little-dot--first {
  animation: slideLeft 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes little-dot--first--animation {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.transition-next .little-dot--first {
  animation: little-dot--last--animation 0.3s forwards;
}


@keyframes little-dot--last--animation {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.transition-prev .little-dot--last {
  animation: little-dot--last--animation 0.3s forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }

  100% {
    transform: translateX(18px);
    opacity: 1;
  }
}

.transition-next .little-dot--last {
  animation: slideRight 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.big-dot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #FFD81F;
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
}

.transition-next .big-dot {
  right: auto;
  left: -6px;
}

.big-dot-container {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
  z-index: 10;
}

.transition-next .big-dot-container {
  right: auto;
  left: 3px;
}

@keyframes big-dot-container--animation-prev {
  0% { transform: translateY(-50%); }
  100% { transform: translateY(-50%) rotate(-179deg); }
}

@keyframes big-dot-container--animation-next {
  0% { transform: translateY(-50%); }
  100% { transform: translateY(-50%) rotate(-181deg); }
}

.transition-prev .big-dot-container {
  animation: big-dot-container--animation-prev 0.3s forwards;
}

.transition-next .big-dot-container {
  animation: big-dot-container--animation-next 0.3s forwards;
}
.photo-container .button_accueil {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.6;
}

.btn--next {
  left: calc(100% + 20px);  
}

.btn--prev {
  right: calc(100% + 20px);
}

@media screen and (max-width: 768px){
  .valeurs-texte{
      width: 250px;
  }

  .valeurs-container{
      top: 50%;
  }

  .valeurs-container h2{
      font-size: 2em;
  }

  .news p{
    font-size: 20px;
  }
  

}