#apropos{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}

.container-boite{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.titre-fblanc{
    background-color: #FFD81F;
    color: #384284;
    text-transform: uppercase;
    clip-path: polygon(0 0%, 100% 10%, 100% 90%, 0 100%);

}

.titre-fblanc h1{
    padding: 10px;
    font-size: 2em;
    font-weight: bolder;
}

.apropos-boite h2{
    font-size: 1.5em;
    text-transform: uppercase;
}

.apropos-boite{
    margin-top: 40px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1.5%;
    padding: 1.5%;
}

.apropos-titre{
    color: white;
}

.apropos-texte{
    color: white;
}
.apropos-boite img{
    width: 80%;
    height: auto;
}


#evenement{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}
.container-evenement{
    width:80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.container-evenement img{ 
    width: 400px;
    height: auto;
}

@media screen and (max-width: 768px){
    .container-boite{
        display: flex;
        flex-direction: column;
    }

    .apropos-boite{
        width: 95%;
    }

    .apropos-boite:nth-child(1){
        margin-bottom: 50px;
    }

    .container-evenement{
        flex-direction: column;
    }

    .container-evenement img{ 
        width: 250px;
        height: auto;
    }
}

